<section id="footer">
  <footer>
    <div class="footer-container">
        <a href="https://codefactory.wien/de/impressum-de/" target = "_blank" >IMPRESSUM</a>
        <div class="social-icons">
          <p>Follow us</p>
          <a href="https://www.facebook.com/codefactoryvienna" target="_blank"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/codefactoryvienna/" target="_blank"><i class="bi bi-instagram"></i></a>
          <a href="https://twitter.com/i/flow/login?redirect_after_login=%2Fcodefactoryvie" target="_blank"><i class="bi bi-twitter"></i></a>
          <a href="https://www.youtube.com/channel/UCJE5xsfz-bLmVb5emobgOkw" target="_blank"><i class="bi bi-youtube"></i></a>
          <a href="https://www.linkedin.com/authwall?trk=bf&trkInfo=AQGDRG20GF1eKAAAAYuMEuc4xD1VMMqCMgj0D2yOlROZXczmD8jAWKLpNf53NbNLlQRftsXfZJqirkJKOgEXvi-OxbzCOGdtzbUxlxWZgzYxUYFga2OR5zT0-Rx2wP5mu4WtA0U=&original_referer=&sessionRedirect=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fcodefactory-vienna" target="_blank"><i class="bi bi-linkedin"></i></a>
      </div>
        <a href="https://codefactory.wien/de/contact-de/" target="_blank">CONTACT</a>
  </div>
 
    
  <p class="copyright">&copy; 2023 Group9</p>
  </footer>
</section>