footer {
    background-color: #333333f8;
    color: #e1dbdb;
    padding: 20px 0;
   
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    margin:0 30px;
    align-items: center;
    flex: 0 0 60%;
   
  }
  
   a{
    text-decoration: none;
    color: #e1dbdb;
  }
  .social-icons {
    margin: 50px;
}

.social-icons a {
    margin: 40px;

}