<section id="footer">
  <footer>
    <div class="footer-container">
        <a href="https://codefactory.wien/de/impressum-de/" target = "_blank" >IMPRESSUM</a>
        &copy; 2023 Group9
        <a href="https://codefactory.wien/de/contact-de/" target="_blank">CONTACT</a>
  </div>
 
    <div class="social-icons">
      <h3>Follow us</h3>
      <a href="https://www.facebook.com/codefactoryvienna" target="_blank"><i class="bi bi-facebook"></i></a>
      <a href="https://www.instagram.com/codefactoryvienna/" target="_blank"><i class="bi bi-instagram"></i></a>
      <a href="https://twitter.com/codefactoryvienna" target="_blank"><i class="bi bi-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UCevC8NwFQzB0jX2gOdA2mTA" target="_blank"><i class="bi bi-youtube"></i></a>
      <a href="https://www.linkedin.com/school/codefactoryvienna/" target="_blank"><i class="bi bi-linkedin"></i></a>
  </div>

  </footer>
</section>