<section id="teachers">
    <!-- Added some padding/margins here, but that can be taken out for layout reasons -->
    <div class="myBackground container my-5">
        <div class="container-fluid pb-3">
            <div class="headline mx-auto py-5">
                <h1 class="mb-4">Our Team</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4">
                    <div class="item position-relative overflow-hidden rounded mb-2">
                        <!-- All images need to have 600x700px when imported into VSC -->
                        <img class="img-fluid" src="../../assets/svenja/img/teacher-1.jpg" alt="teacher-1">
                        <!-- Link opens into a new window -->
                        <a class="overlay" href="https://codefactory.wien/de/team-de/" target="_blank">
                            <small>Priya Gupta</small>
                            <h5 class="news">covering full-stack web development with a focus on database-driven
                                applications</h5>
                            <a href="https://www.linkedin.com/" target="_blank"><span class="btn" type="submit">Get in
                                    touch</span></a>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="../../assets/svenja/img/teacher-2.jpg" alt="teacher-2">
                        <a class="overlay" href="https://codefactory.wien/de/team-de/" target="_blank">
                            <small>Carlos Rodriguez</small>
                            <h5 class="news">specialized in web accessibility and inclusive design for websites and
                                applications</h5>
                            <a href="https://www.linkedin.com/" target="_blank"><span class="btn" type="submit">Get in
                                    touch</span></a>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="../../assets/svenja/img/teacher-3.jpg" alt="teacher-3">
                        <a class="overlay" href="https://codefactory.wien/de/team-de/" target="_blank">
                            <small>Sarah Smith</small>
                            <h5 class="news">teaching responsive web design using HTML and CSS</h5>
                            <a href="https://www.linkedin.com/" target="_blank"><span class="btn" type="submit">Get in
                                    touch</span></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>