    .hero-section {
        text-align: center;
        padding: 50vh;
        width: 100vw;
        background-image: url('/assets/Amy/example1.jpg');
        background-size: cover;
        opacity: 0.8;

    }

    .hero h1 {
        color: #8c181b;
    }

    .hero-section p {
        font-size: 1.2rem;
        margin-bottom: 30px;

    }
    

    @media screen and (min-width: 481px) and (max-width: 1024px) {
        .hero-section {
            padding: 30vh;
        }
    
        .hero h1 {
            font-size: 1.5rem;
        }
    
        .hero-section p {
            font-size: 1rem;
            margin-bottom: 20px;
        }
    }
   