.myNavbar {
    position: fixed;
    width: 100vw;
    /* If the height gets changed, it has to be adapted in the scroll function in the ts file */
    height: 15vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 5;
}

.myNavbar #logo {
    height: 10vh;
}

.navbar-nav a {
    /* color: var(--cf-red); */
    color: black;
    padding-left: 2rem;
}

.myToggler {
    margin-right: 1.5rem;
}

/* .blanco {
    height: 15vh;
    position: relative;
    top: 0;
} */