<!-- Basic navbar element from Bootstrap without the searchbar -->

<!-- myNavbar class: change to fixed position & add opacity to background in CSS -->
<nav class="myNavbar navbar navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" role="button" (click)="navigateToSection('hero')">
            <img id="logo" src="../../assets/svenja/img/cf-logo.png" alt="CodeFactory">
        </a>
        <!-- myToggler class to add some margin on the right side -->
        <button class="myToggler navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- I tried to organize the different links a bit, but I think we should speak about that a bit further down the way -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <!-- Click-event rather than routerLink to scroll to the components. Sections need to get IDs as wrapper! -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" (click)="navigateToSection('hero')"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Home
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" role="button" (click)="navigateToSection('mission')">Mission</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" role="button" (click)="navigateToSection('courses')">Courses</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" role="button" (click)="navigateToSection('teachers')"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        About
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" role="button" (click)="navigateToSection('teachers')">Teachers</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" role="button"
                                (click)="navigateToSection('technologies')">Technologies</a></li>
                        <!-- <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" (click)="navigateToSection('dummy')">Dummy</a></li> -->
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="button" (click)="navigateToSection('fh5co-testimonial')">Stories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" role="button" (click)="navigateToSection('news')">News</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<!-- <div class="blanco"></div> -->