.myNavbar {
    position: fixed;
    width: 100vw;
    /* If the height gets changed, it has to be adapted in the scroll function in the ts file */
    height: 15vh;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 5;
}

.myNavbar #logo {
    height: 10vh;
}

.navbar-nav a {
    color: black;
    padding-left: 2rem;
}

.navbar-nav a:hover {
    color: var(--cf-red);
}

.myToggler {
    margin-right: 1.5rem;
}