.card {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: rgba(255, 153, 153, 0.4);;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
}

.courses {
    display: flex;
    justify-content: space-evenly;
}

h3{
    font-size: 24px;
    text-align: center;
    color: #8c181b;
    font-weight: bold;
}
