<div class="container p-3">
    <h1 class=" text-center">OUR COURSES</h1>
    <h2 class="text-center">For beginners, advanced users and professionals</h2>
</div>

<div class="container">
    <div class="row row-cols-lg-3 row-cols-md-2  row cols-sm-1">
        <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded p-2">
            <img src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg"
                class="card-img-top border border-4 border-danger rounded" alt="Display with code" height="250px"
                width="250px">
            <div class="card-body">
                <h5 class="card-title text-center">Full Stack Web Developer Course</h5>
                <p class="card-text"><strong>Duration:</strong> 8 months</p>
                <p class="card-text"><strong>Level:</strong>Beginner and Advanced</p>
                <a href="#" class="btn btn-secondary">Apply</a>
            </div>
        </div>
        <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded p-2">
            <img src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg"
                class="card-img-top border border-4 border-danger rounded" alt="Display with code" height="250px"
                width="250px">
            <div class="card-body">
                <h5 class="card-title text-center">Full Stack Web Developer Course</h5>
                <p class="card-text"><strong>Duration:</strong> 8 months</p>
                <p class="card-text"><strong>Level:</strong>Beginner and Advanced</p>
                <a href="#" class="btn btn-secondary">Apply</a>
            </div>
        </div>
        <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded p-2">
            <img src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg"
                class="card-img-top border border-4 border-danger rounded" alt="Display with code" height="250px"
                width="250px">
            <div class="card-body">
                <h5 class="card-title text-center">Full Stack Web Developer Course</h5>
                <p class="card-text"><strong>Duration:</strong> 8 months</p>
                <p class="card-text"><strong>Level:</strong>Beginner and Advanced</p>
                <a href="#" class="btn btn-secondary">Apply</a>
            </div>
        </div>
        <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded p-2">
            <img src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg"
                class="card-img-top border border-4 border-danger rounded" alt="Display with code" height="250px"
                width="250px">
            <div class="card-body">
                <h5 class="card-title text-center">Full Stack Web Developer Course</h5>
                <p class="card-text"><strong>Duration:</strong> 8 months</p>
                <p class="card-text"><strong>Level:</strong>Beginner and Advanced</p>
                <a href="#" class="btn btn-secondary">Apply</a>
            </div>
        </div>
        <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded p-2">
            <img src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg"
                class="card-img-top border border-4 border-danger rounded" alt="Display with code" height="250px"
                width="250px">
            <div class="card-body">
                <h5 class="card-title text-center">Full Stack Web Developer Course</h5>
                <p class="card-text"><strong>Duration:</strong> 8 months</p>
                <p class="card-text"><strong>Level:</strong>Beginner and Advanced</p>
                <a href="#" class="btn btn-secondary">Apply</a>
            </div>
        </div>
        <div class="card shadow-lg p-3 mb-5 bg-body-tertiary rounded p-2">
            <img src="https://cdn.pixabay.com/photo/2016/11/19/14/00/code-1839406_960_720.jpg"
                class="card-img-top border border-4 border-danger rounded" alt="Display with code" height="250px"
                width="250px">
            <div class="card-body">
                <h5 class="card-title text-center">Full Stack Web Developer Course</h5>
                <p class="card-text"><strong>Duration:</strong> 8 months</p>
                <p class="card-text"><strong>Level:</strong>Beginner and Advanced</p>
                <a href="#" class="btn btn-secondary">Apply</a>
            </div>
        </div>
    </div>
</div>