<div id="technologies" class="container">
    <h2>Technologies Used in Our Web Development Courses</h2>
    <ul class="technologies">
        <li class="technology">
            <div class="technology-icon">
                <img src='assets/ibo/frontend-icon.png' alt="Frontend Icon" width="100" height="100">
            </div>
            <div class="technology-description">
                <strong>Frontend Development</strong>
                <p>Frontend development is the practice of creating the user interface and user experience of a website.
                    It involves designing and coding the visible elements that users interact with, such as the layout,
                    content, and interactive features.</p>
            </div>
        </li>
        <li class="technology">
            <div class="technology-icon">
                <img src='assets/ibo/backend-icon.png' alt="Backend Icon" width="100" height="100">
            </div>
            <div class="technology-description">
                <strong>Backend Development</strong>
                <p>Backend development focuses on the server-side of web applications. It involves creating and managing
                    databases, handling user authentication, and ensuring the overall functionality and security of a
                    website or web application.</p>
            </div>
        </li>
        <li class="technology">
            <div class="technology-icon">
                <img src='assets/ibo/js-icon.png' alt="JavaScript Icon" width="100" height="100">
            </div>
            <div class="technology-description">
                <strong>JavaScript</strong>
                <p>JavaScript is a versatile and widely used programming language in web development. It enables the
                    creation of dynamic and interactive web elements, such as form validation, animations, and real-time
                    updates, enhancing the user experience.</p>
            </div>
        </li>
    </ul>

    <!-- Add more technologies here -->
</div>