<section id="news">
    
    <div class="container mt-4">
        <h2 class="text-center">Web Development News</h2>

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            
            <div class="carousel-inner">
                
                <div class="carousel-item active" id="master">
                    <div>
                        <img src="./assets/selo-img/master.jpeg" alt="Image 1" class="d-block w-100">
                    </div>
                    <div class="carousel-caption">
                        <h3>Mastering Web Development: A Team Approach</h3>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.infowars.com/posts/visitors-to-the-eu-will-soon-face-fingerprinting-and-facial-scans/" class="btn btn-secondary mt-3">Read More</a>
                        </div>
                    </div>
                </div>
    
                <div class="carousel-item" id="graduate">
                    <img src="./assets/selo-img/graduate.jpg" alt="Image 2" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Success Stories: Graduates Who Built Their Dream Websites</h3>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.infowars.com/posts/cruise-halts-robotaxi-operations-nationwide-after-collisions-with-pedestrians-permit-suspension-in-california/" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
                
                <div class="carousel-item" id="instructors">
                    <img src="./assets/selo-img/instructors.jpeg" alt="Image 3" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Behind the Scenes: A Day in the Life of Our Instructors</h3>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.infowars.com/posts/video-cyberpunk-game-mod-hijacks-the-voice-of-alex-jones/" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
         
                <div class="carousel-item" id="robot">
                    <img src="./assets/selo-img/robot.jpg" alt="Image 4" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Breakthrough in AI Coding: A Robot Writes Its First Novel</h3>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.infowars.com/posts/video-amazon-tests-six-foot-tall-warehouse-robots/" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>

               
                <div class="carousel-item" id="fair">
                    <img src="./assets/selo-img/fair.jpeg" alt="Image 5" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Coding Marvels Unveiled at World Technologies Fair</h3>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.infowars.com/posts/the-state-against-anonymity/" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>

                
                <div class="carousel-item" id="pyramid">
                    <img src="./assets/selo-img/pyramid.jpeg" alt="Image 6" class="d-block w-100">
                    <div class="carousel-caption">
                        <h3>Secret Codes Discovered in Ancient Pyramids</h3>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="https://www.infowars.com/posts/the-silent-weapon-you-take-everywhere-exclusive-report/" class="btn btn-secondary">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </div>
    
</section>