<section id="news">
    <div class="container bg-white my-5">
        <div class="container-fluid pb-3">
            <div class="headline mx-auto py-5">
                <h1 class="mb-4">NEWS</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4">
                    <div class="item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="../../assets/svenja/img/news-1.jpg" alt="news-1">
                        <a class="overlay" href="https://segwitz.com/top-5-mobile-app-development-trends-in-2023/">
                            <small>App Development</small>
                            <h5 class="news">App development trends shift towards seamless cross-platform solutions.
                            </h5>
                            <a href="https://codefactory.wien/en/category/news/"><span class="btn" type="submit">More
                                    News</span></a>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="../../assets/svenja/img/news-2.jpg" alt="news-2">
                        <a class="overlay"
                            href="https://www.linkedin.com/pulse/cutting-edge-innovations-unveiling-latest-breakthroughs/">
                            <small>Artificial Intelligence</small>
                            <h5 class="news">Cutting-edge AI breakthroughs demonstrate significant progress in natural
                                language understanding.</h5>
                            <a href="https://codefactory.wien/en/category/news/"><span class="btn" type="submit">More
                                    News</span></a>
                        </a>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="item position-relative overflow-hidden rounded mb-2">
                        <img class="img-fluid" src="../../assets/svenja/img/news-3.jpg" alt="news-3">
                        <a class="overlay"
                            href="https://blog.saeloun.com/2023/08/11/2023-ECMAScript-2023-new-features/">
                            <small>JavaScript</small>
                            <h5 class="news">JavaScript community eagerly anticipates upcoming ECMAScript release with
                                game-changing features.</h5>
                            <a href="https://codefactory.wien/en/category/news/"><span class="btn" type="submit">More
                                    News</span></a>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>