<div class="container">
    <h1>Impressum</h1>

    <address>
        <strong>CodeFactory GmbH</strong><br>
        vertreten durch Lisa Duschek, Christoph Pirringer<br>
        Kettenbrückengasse 23/2/12<br>
        1050 Wien<br>
        Österreich<br>
        Telefon: +43 699 12255185<br>
        E-Mail: <a href="mailto:office@codefactory.wien">office@codefactory.wien</a><br>
        Mitglied bei: WKO<br>
        Berufsrecht: <a href="https://www.ris.bka.gv.at/GeltendeFassung.wxe?Abfrage=Bundesnormen&Gesetzesnummer=10007517" target="_blank">Gewerbeordnung</a><br>
        Aufsichtsbehörde/Gewerbebehörde: Mag. der Stadt WIEN
    </address>

    <div class="social-icons">
        Follow us:
        <a href="https://www.facebook.com/codefactoryvienna" target="_blank">Facebook</a>
        <a href="https://www.instagram.com/codefactoryvienna/" target="_blank">Instagram</a>
        <a href="https://twitter.com/codefactoryvienna" target="_blank">Twitter</a>
        <a href="https://www.youtube.com/channel/UCevC8NwFQzB0jX2gOdA2mTA" target="_blank">YouTube</a>
        <a href="https://www.linkedin.com/school/codefactoryvienna/" target="_blank">LinkedIn</a>
    </div>
</div>
