#fh5co-testimonial {
  background: #1F5F8B;
  position: relative;
  padding: 3em 0; 
}

#fh5co-testimonial .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: #5a5a5a;
}

#fh5co-testimonial .testimony-slide {
  text-align: center;
  position: relative;
  color: #fff;
}

#fh5co-testimonial .testimony-slide span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
}

#fh5co-testimonial .testimony-slide span small {
  font-size: 11px;
  font-weight: 300;
  letter-spacing: 3px;
}

#fh5co-testimonial .testimony-slide .user {
  display: block;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
}

#fh5co-testimonial .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 70%;
  position: relative;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #fh5co-testimonial .testimony-slide blockquote {
    width: 85%;
  }
}

#fh5co-testimonial .owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.3);
}

#fh5co-testimonial .owl-theme .owl-dots .active span {
  background: white;
}

#fh5co-testimonial .fh5co-heading {
  margin-bottom: 3em;
}

#fh5co-testimonial .fh5co-heading h2 {
  color: #fff;
  margin: 20px;
}

#fh5co-testimonial .fh5co-heading h2:after {
  background: transparent;
}

#fh5co-testimonial .fh5co-heading p {
  color: rgba(255, 255, 255, 0.5);
}

#fh5co-testimonial .fh5co-heading span {
  padding: 7px 15px;
  position: relative;
}

#fh5co-testimonial .fh5co-heading span:before {
  position: absolute;
  top: 24px;
  left: -40px;
  content: '';
  width: 40px;
  height: 1px;
  background: white;
}

#fh5co-testimonial .fh5co-heading span:after {
  position: absolute;
  top: 24px;
  right: -40px;
  content: '';
  width: 40px;
  height: 1px;
  background: white;
}

@media screen and (max-width: 768px) {
  #fh5co-testimonial {
    padding: 3em 0;
  }
}

#fh5co-testimonial .next, #fh5co-testimonial .prev {
  position: absolute;
  top: 50%;
  font-size: 40px;
  color: #ff0000;
  text-decoration: none;
  padding: 10px 20px; /* Ändere diese Werte entsprechend deinen Anforderungen */
  background-color: transparent; /* Hintergrundfarbe des Buttons */
  border: none; /* Entfernt den Button-Rahmen, falls gewünscht */
  cursor: pointer; /* Ändert den Mauszeiger beim Überfahren des Buttons */
  transition: background-color 0.3s ease; /* Übergangseffekt für die Hintergrundfarbe */
}

#fh5co-testimonial .next {
  right: 200px;
  transform: translateY(-50%);
  z-index: 100;
}

#fh5co-testimonial .prev {
  left: 200px;
  transform: translateY(-50%);
  z-index: 100;
}

#person2,
#person3 {
  display: none;
}
