#fh5co-testimonial {
  background: #0072be;
  position: relative;
  padding: 3em 0;
  height: 700px;
  /* Setze die gewünschte Höhe in Pixeln */
  overflow: hidden;
  transition: 1s ease;
  /* Füge den Übergangseffekt hinzu */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

#fh5co-testimonial .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: '';
  background: #ff9a9a;
}

#fh5co-testimonial .testimony-slide {
  font-size: x-large;
  position: relative;
  color: #ffffff;
}

#fh5co-testimonial .testimony-slide span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  display: block;
}

#fh5co-testimonial .testimony-slide span small {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 3px;
}

#fh5co-testimonial .testimony-slide .user {
  display: block;
  width: 100px;
  height: 100px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
  transition: transform 0.1s ease;
  /* Füge den Übergangseffekt hinzu */
}

#fh5co-testimonial .testimony-slide blockquote {
  border: none;
  margin: 30px auto;
  width: 90%;
  position: center;
  padding: 0;
}

@media screen and (max-width: 768px) {
  #fh5co-testimonial .testimony-slide blockquote {
    width: 85%;
  }
}

#fh5co-testimonial .owl-theme .owl-dots .owl-dot span {
  background: rgba(255, 255, 255, 0.3);
}

#fh5co-testimonial .owl-theme .owl-dots .active span {
  background: white;
}

#fh5co-testimonial .fh5co-heading {
  margin-bottom: 2em;
}

#fh5co-testimonial .fh5co-heading h2 {
  text-align: center;
  margin: 20px;
}

#fh5co-testimonial .fh5co-heading h2:after {
  background: transparent;
}

#fh5co-testimonial .fh5co-heading p {
  color: rgba(255, 255, 255, 0.5);
}

#fh5co-testimonial .fh5co-heading span {
  padding: 10px 15px;
  position: relative;
  text-align: center;
}

#fh5co-testimonial .fh5co-heading span:before {
  position: absolute;
  top: 30px;
  left: -50px;
  content: '';
  width: 40px;
  height: 1px;
  background: white;
}

#fh5co-testimonial .fh5co-heading span:after {
  position: absolute;
  top: 30px;
  right: -50px;
  content: '';
  width: 40px;
  height: 1px;
  background: white;
}

@media screen and (max-width: 900px) {
  #fh5co-testimonial {
    padding: 5em 0;
  }
}

#fh5co-testimonial .next,
#fh5co-testimonial .prev {
  position: absolute;
  top: 40%;
  font-size: 30px;
  color: #ff0000;
  text-decoration: none;
  padding: 10px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: background-color 2s ease, transform 0.5s ease;
  /* Füge den Übergangseffekt hinzu */
}

#fh5co-testimonial .next:hover,
#fh5co-testimonial .prev:hover {
  background-color: #ff0000;
  color: #ffffff;
  transform: scale(1.1);
  /* Vergrößere das Element leicht beim Hover */
}

#fh5co-testimonial .next {
  right: 100px;
  transform: translateY(-50%);
  z-index: 100;
}

#fh5co-testimonial .prev {
  left: 100px;
  transform: translateY(-50%);
  z-index: 100;
}

#person2,
#person3 {
  display: none;
}

#fh5co-testimonial .testimony-slide .user {
  display: block;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  margin: 0 auto;
  margin-bottom: 10px;
  border-radius: 50%;
  transition: transform .1s ease;
  /* Füge den Übergangseffekt hinzu */
}

#fh5co-testimonial .testimony-slide .user:hover {
  transform: scale(1.1);
  /* Vergrößere das Element leicht beim Hover */
}

.col-md-12 h2 {
  font-size: 2rem;
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
  transition: font-size 0.3s, color 0.3s;
  /* Füge den Übergangseffekt hinzu */
}

.col-md-12 h2:hover {
  font-size: 2.2rem;
  /* Ändere die gewünschte Größe */
  color: #ff0000;
  /* Ändere die gewünschte Farbe */
}


#person1 blockquote p,
#person2 blockquote p,
#person3 blockquote p {
  font-size: 20px;
  color: #fff;
  animation: glowing 2s infinite;
  transition: font-size 0.3s;
  padding: 0;
  /* Aufhebung der Padding-Begrenzung */
  margin: 0;
  /* Aufhebung der Margin-Begrenzung */
  line-height: normal;
  /* Aufhebung der Zeilenhöhe-Begrenzung */
}


#person1 blockquote p:hover,
#person2 blockquote p:hover,
#person3 blockquote p:hover {
  font-size: 24px;
  /* Ändere die Schriftgröße beim Hover nach deinen Wünschen */
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    /* Anfangsleuchten */
  }

  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.9);
    /* Höhepunkt des Leuchtens */
  }

  100% {
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.9);
    /* Endleuchten */
  }
}