<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
</head>
<div class="container">
  <div id="fh5co-testimonial">
    <div class="overlay"></div>
    <div class="container">
      <div class="row animate-box">
        <div class="col-md-12 col-md-offset-3 text-center fh5co-heading">
          <h2><span>Testimonials</span></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-md-offset-1">
          <div class="row animate-box">
            <div class="testimonial-carousel">
              <div class="item">
                <div class="testimony-slide active text-center" id="person1">
                  <div class="user" style="background-image: url('assets/ibo/person1.jpg');"></div>
                  <span>Salamander Wachmann<br><small>Student</small></span>
                  <blockquote>
                    <p>&ldquo;Far far away, behind the mountains.&rdquo;</p>
                  </blockquote>
                </div>
              </div>
              <div class="item">
                <div class="testimony-slide text-center" id="person2">
                  <div class="user" style="background-image: url('assets/ibo/person2.jpg');"></div>
                  <span>Deez Waldbrand<br><small>Student</small></span>
                  <blockquote>
                    <p>&ldquo;I can see John Cena.&rdquo;</p>
                  </blockquote>
                </div>
              </div>
              <div class="item">
                <div class="testimony-slide text-center" id="person3">
                  <div class="user" style="background-image: url('assets/ibo/person3.jpg');"></div>
                  <span>Mahmud Neubrand<br><small>Teacher</small></span>
                  <blockquote>
                    <p>&ldquo;My Friends call me Madrid. Hola my fellow People.&rdquo;</p>
                  </blockquote>
                </div>
              </div>
            </div>
          </div>
          <button class="prev button">
            <i class="fas fa-arrow-left"></i>
          </button>
          <button class="next button">
            <i class="fas fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>